* {
	margin:0;
	padding:0;
}

.container{
	margin: 0 auto;
}
@media screen and (min-width:768px){
	.container{width: 750px;}
}
@media screen and (min-width:992px){
	.container{width: 970px;}
}
@media screen and (min-width:1200px){
	.container{width: 1170px;}
}

body {
	margin: 0;
	padding: 0;
	background-color: #efede8;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#site-header {
	text-align: center;
	font-size: 40px;
	color:white;
	background-image: url(../imgs/header.jpg);
	padding: 0;
	height: 150px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
}

.header-msg {
	position: relative;
	top: 20px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.nav {
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	width: 100%;
	max-width: 1226px;
	text-align: center;
	display: flex;
}

.nav p {
	background-color: #474747;
	color: #fff;
	padding: 16px 20px;
	text-decoration: none;
	line-height: 24px;
	font-size: 16px;
}

.active {
	background-color: #616161 !important;
}

#context {	
}

#route {
	margin: 3px;
	background-color: #f7f7f7;
}

#item_brief {
	display: flex;
	justify-content: space-between;
}









